{% extends 'base.html' %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Tarefas</h1>
    <div class="col-2 add-div">
        <i class="fa-solid fa-plus"></i> Adicionar tarefa
    </div>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <ul class="task-list">
        <li class="task-item">
            <span>Título da tarefa</span>
            <span><i class="fa-solid fa-trash"></i></span>
            <span><i class="fa-solid fa-edit"></i></span>
        </li>
        <li class="task-item">
            <span>Título da tarefa</span>
            <span><i class="fa-solid fa-trash"></i></span>
            <span><i class="fa-solid fa-edit"></i></span>
        </li>
        <li class="task-item">
            <span>Título da tarefa</span>
            <span><i class="fa-solid fa-trash"></i></span>
            <span><i class="fa-solid fa-edit"></i></span>
        </li>
        <li class="task-item">
            <span>Título da tarefa</span>
            <span><i class="fa-solid fa-trash"></i></span>
            <span><i class="fa-solid fa-edit"></i></span>
        </li>
    </ul>           
</div>
{% endblock %}